extends layout

block title
    = `数据库 - ${title}`

block content
    style.
        .view-div {display: none}
    div#main.ui.container
        div#animation-list.view-div
        div#animation-new.view-div
        div#animation-detail.view-div
        div#tag-list.view-div
        div#tag-new.view-div
        div#tag-detail.view-div
        div#staff-list.view-div
        div#staff-new.view-div
        div#staff-detail.view-div
        div#not-found.ui.placeholder.segment.view-div(style='display: none')
            div.ui.icon.header
                i.close.icon
                = '404 Not Found'