extends layout

block title
    = `统计 - ${title}`

block content
    div#main.ui.container
        div.ui.segment.placeholder
            div.ui.icon.header
                i.times.icon
                = '尚未开发。'